# How to concatenate excel files?

In [2]:
import pandas as pd

In [3]:
# concat 4 files with the same name with exeption to the team

In [25]:
team_low= 'Fiorentina'
df = pd.read_excel("./prova_teams/Team Stats " + team_low + ".xlsx",encoding = "utf8")
df1 = pd.read_excel("./prova_teams/Team Stats " + team_low + " (1).xlsx",encoding = "utf8")
df2 = pd.read_excel("./prova_teams/Team Stats " + team_low + " (2).xlsx",encoding = "utf8")
df3 = pd.read_excel("./prova_teams/Team Stats " + team_low + " (3).xlsx",encoding = "utf8")

In [26]:
df1.head()

,Date,Match,Competition,Duration,Team,Scheme,Goals,xG,Shots / on target,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Recoveries / Low / Medium / High,Unnamed: 20,Unnamed: 21,Unnamed: 22,Challenges / won,Unnamed: 24,Unnamed: 25
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-20,Milan - Fiorentina 5:1,Italy. Serie A,95.0,Fiorentina,4-2-3-1 (29.53%),1.0,0.92,10.0,3.0,...,16.0,31.0,33.0,76.0,36.0,30.0,10.0,171.0,62.0,36.26
3,2018-05-20,Milan - Fiorentina 5:1,Italy. Serie A,95.0,Milan,4-1-4-1 (100.0%),5.0,2.96,17.0,9.0,...,12.0,36.0,49.0,68.0,26.0,27.0,15.0,171.0,72.0,42.11
4,2018-05-13,Fiorentina - Cagliari 0:1,Italy. Serie A,97.0,Fiorentina,4-4-1-1 (46.32%),0.0,0.69,14.0,0.0,...,19.0,37.0,63.0,114.0,53.0,32.0,29.0,313.0,130.0,41.53

In [28]:
df = df.drop(df.index[0:2]) # remove two white lines
df1 = df1.drop(df1.index[0:2])
df2 = df2.drop(df2.index[0:2])
df3 = df3.drop(df3.index[0:2])

In [32]:
df_tot = pd.concat([df,df1, df2,df3])